<!DOCTYPE html>
<html class="fixed">
<head>
	<% include partials/head %>
</head>
<body>
  <!-- start: page -->  
  <section role="main" class="content-body">

	<div class="row">
		<div class="col-xs-12">
			<section class="panel form-wizard" id="w4">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="fa fa-caret-down"></a>
						<a href="#" class="fa fa-times"></a>
					</div>
	
					<h2 class="panel-title">Carte aux trésors</h2>
				</header>
				<div class="panel-body">
					<div class="wizard-progress wizard-progress-lg">
						<div class="steps-progress">
							<div class="progress-indicator"></div>
						</div>
						<ul class="wizard-steps">
							<li class="active">
								<a href="#Map" data-toggle="tab"><span>1</span>Carte</a>
							</li>
							<li>
								<a href="#Mountains" data-toggle="tab"><span>2</span>Montagnes</a>
							</li>
							<li>
								<a href="#Treasures" data-toggle="tab"><span>3</span>Trésors</a>
							</li>
							<li>
								<a href="#Adventurers" data-toggle="tab"><span>4</span>Aventuriers</a>
							</li>
						</ul>
					</div>
	
					<form class="form-horizontal" action="<%=baseurl%>launch" validate method="post">
						<div class="tab-content">
							<div id="Map" class="tab-pane active">
								<% include map %>
							</div>

							<div id="Mountains" class="tab-pane">
								<% include mountain %>
							</div>

							<div id="Treasures" class="tab-pane">
								<% include treasor %>
							</div>

							<div id="Adventurers" class="tab-pane">
								<% include adventurer %>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<ul class="pager">
						<li class="previous disabled">
							<a><i class="fa fa-angle-left"></i> Précédent</a>
						</li>
						<li class="finish hidden pull-right">
							<button type="button" class="btn btn-primary">Play</button>
						</li>
						<li class="next">
							<a>Suivant <i class="fa fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>	

</section>

</body>

<% include partials/scripts %>

<script>

	var map = {};

	// $("#MapWidth").on("change",(event) => {
	// 	map.w = $("#MapWidth").val();
	// });
	// $("#MapHeight").on("change",(event) => {
	// 	map.h = $("#MapHeight").val();
	// });
	

	var $w4finish = $('#w4').find('ul.pager li.finish'),
		$w4validator = $("#w4 form").validate({
		highlight: function(element) {
			$(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		},
		success: function(element) {
			$(element).closest('.form-group').removeClass('has-error');
			$(element).remove();
		},
		errorPlacement: function( error, element ) {
			element.parent().append( error );
		}
	});

	$w4finish.on('click', function( ev ) {
		ev.preventDefault();
		var validated = $('#w4 form').valid();

		if ( validated ) {
			var form = {};
			form['map'] = map;
			form['mountainList'] = mountainList;
			form['treasorList'] = treasorList;
			form['adventurerList'] = adventurerList;

			axios.post("<%=baseurl%>launch", form)
			.then(function (response) {
				new PNotify({
					title: 'Félicitation',
					text: 'Fin de la carte aux trésors',
					type: 'custom',
					addclass: 'notification-success',
					icon: 'fa fa-check'
				});
			})
			.catch(function (error) {
				new PNotify({
					title: 'Server error',
					text: 'Erreur pendant le jeu',
					type: 'custom',
					addclass: 'notification-danger',
					icon: 'fa fa-times'
				});
			});
		}
	});

	$('#w4').bootstrapWizard({
		tabClass: 'wizard-steps',
		nextSelector: 'ul.pager li.next',
		previousSelector: 'ul.pager li.previous',
		firstSelector: null,
		lastSelector: null,
		onNext: function( tab, navigation, index, newindex ) {
			var validated = $('#w4 form').valid();
			if( !validated ) {
				$w4validator.focusInvalid();
				return false;
			}
		},
		onTabClick: function( tab, navigation, index, newindex ) {
			if ( newindex == index + 1 ) {
				return this.onNext( tab, navigation, index, newindex);
			} else if ( newindex > index + 1 ) {
				return false;
			} else {
				return true;
			}
		},
		onTabChange: function( tab, navigation, index, newindex ) {
			var $total = navigation.find('li').size() - 1;
			$w4finish[ newindex != $total ? 'addClass' : 'removeClass' ]( 'hidden' );
			$('#w4').find(this.nextSelector)[ newindex == $total ? 'addClass' : 'removeClass' ]( 'hidden' );

			map = {
				w: $("#MapWidth").val(),
				h: $("#MapHeight").val()
			};
		},
		onTabShow: function( tab, navigation, index ) {
			var $total = navigation.find('li').length - 1;
			var $current = index;
			var $percent = Math.floor(( $current / $total ) * 100);
			$('#w4').find('.progress-indicator').css({ 'width': $percent + '%' });
			tab.prevAll().addClass('completed');
			tab.nextAll().removeClass('completed');
		}
	});


</script>