<div>
    <span>Définition de la carte</span>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="MapWidth">Largeur</label>
        <div class="col-sm-2">
            <%- include('inputSpin/component',
                {
                    id: 'MapWidth',
                    value: 8,
                    className: "",
                    isrequired: "required",
                    min: 0,
                    max: 30,
                    step: 1,
                    decimals: 0
                }
            ) %>

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="MapHeight">Hauteur</label>
        <div class="col-sm-2">
            <%- include('inputSpin/component',
                {
                    id: 'MapHeight',
                    value: 4,
                    className: "",
                    isrequired: "required",
                    min: 0,
                    max: 30,
                    step: 1,
                    decimals: 0
                }
            ) %>
        </div>
    </div>
</div>